[submodule "lib/imgui/upstream"]
	path = lib/imgui/upstream
	url = git@github.com:ocornut/imgui
[submodule "lib/lua/upstream"]
	path = lib/lua/upstream
	url = git@github.com:lua/lua
[submodule "lib/sol/upstream"]
	path = lib/sol/upstream
	url = git@github.com:ThePhD/sol2
