[submodule "lib/imgui/upstream"]
	path = lib/imgui/upstream
	url = git@github.com:ocornut/imgui
[submodule "lib/lua/upstream"]
	path = lib/lua/upstream
	url = git@github.com:lua/lua
[submodule "lib/sol/upstream"]
	path = lib/sol/upstream
	url = git@github.com:ThePhD/sol2
[submodule "lib/gtest/upstream"]
	path = lib/gtest/upstream
	url = git@github.com:google/googletest
[submodule "lib/glfw/upstream"]
	path = lib/glfw/upstream
	url = git@github.com:glfw/glfw
[submodule "lib/glad/upstream"]
	path = lib/glad/upstream
	url = git@github.com:Dav1dde/glad
[submodule "lib/glm/upstream"]
	path = lib/glm/upstream
	url = git@github.com:g-truc/glm
[submodule "lib/assimp/upstream"]
	path = lib/assimp/upstream
	url = git@github.com:assimp/assimp
[submodule "lib/gli/upstream"]
	path = lib/gli/upstream
	url = git@github.com:g-truc/gli
[submodule "lib/json/upstream"]
	path = lib/json/upstream
	url = git@github.com:nlohmann/json
[submodule "lib/fmt/upstream"]
	path = lib/fmt/upstream
	url = git@github.com:fmtlib/fmt
[submodule "lib/glog/upstream"]
	path = lib/glog/upstream
	url = git@github.com:google/glog
[submodule "lib/gflags/upstream"]
	path = lib/gflags/upstream
	url = git@github.com:gflags/gflags
[submodule "lib/xml/upstream"]
	path = lib/xml/upstream
	url = git@github.com:leethomason/tinyxml2
